<!DOCTYPE html>
<html>
<head>
    <title>Recomendador de Películas</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <h1>¡Bienvenido al Recomendador de Películas!</h1>
    
    <form id="movieForm">
        <label for="userId">Usuario:</label>
        <input type="text" id="userId" name="userId" required>
        <button type="button" onclick="getRecommendations()">Obtener Recomendaciones</button>
    </form>

    <div id="recommendations"></div>

    <script src="./static/script.js"></script>
</body>
</html>
